@{
    ViewData["Title"] = " ";
}

@section styles {
    <link rel="stylesheet" href="/css/site.css">
}

<div class="menu">
    <h1><b>Centro Pokemon</b></h1>
    <br/>
    <nav>
        <ul>
            <li><a href="/Pokemon/ListaPokemon">Lista de Pokemon</a></li>
            <li><a href="/Pokemon/RandomTeam">Generación de equipo aleatorio</a></li>
            <li><a href="/Pokemon/DetallePokemon">Mi equipo</a></li>
            <li><a href="/Combate/Index">Combate</a></li>
        </ul>
    </nav>
</div>

<br/>

<div style="text-align: center; margin-top: 20px;">
    <h3>¡Bienvenidx al Centro Pokemon!</h3>
    <p>
        A continuación, puedes escoger entre los pokemon de la lista para formar un gran equipo <br />
        y poder ponerlo en práctica en combates contra otros equipos, a divertirse! :)
    </p>
    <img src="/recursos/pokemon-home.jpg" alt="Imagen de bienvenida." style="width:100%; max-width:600px; margin-top:20px;">
</div>