@{
    ViewData["Title"] = "Privacy Policy -";
}

<h1><b>Privacy Policy</b></h1>

<div style="text-align: center; margin-top: 20px;">
    <h5>Aqui es donde se encuentra nuestra politica de privacidad sobre esta web, "Centro Pokemon".</h5>
    <img src="/recursos/pokemon-pp-1.jpg" alt="Imagen de la política de privacidad" style="width:100%; max-width:600px; margin-top:20px;">
</div>